@namespace BlazorBeerCss
<div class="@GetClass()">
    @if (!SuffixIcon)
    {
        if (UseIconOrImage())
        {
            <IconOrImage Icon="@Icon" ImageSrc="@ImageSrc"></IconOrImage>
        }
        if (ShowLoader)
        {
            <a class="loader"></a>
        }
    }

    <textarea @onchange="textChanged">@Text</textarea>

    @if (!string.IsNullOrEmpty(Label))
    {
        <label>@Label</label>
    }

    @if (SuffixIcon)
    {
        if (UseIconOrImage())
        {
            <IconOrImage Icon="@Icon" ImageSrc="@ImageSrc"></IconOrImage>
        }
        if (ShowLoader)
        {
            <a class="loader"></a>
        }
    }

    @if(!string.IsNullOrEmpty(Error)){
        <span class="error">@Error</span>
    }
    @if (!string.IsNullOrEmpty(Helper))
    {
        <span class="helper">@Helper</span>
    }
</div>

@code {
    [Parameter] public BeerBorders Border { get; set; } = BeerBorders.Default; 
    [Parameter] public BeerForms Form { get; set; } = BeerForms.Default;
    [Parameter] public BeerSizes Size { get; set; } = BeerSizes.Default;
    [Parameter] public bool Fill { get; set; } = false;
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Error { get; set; } = string.Empty;
    [Parameter] public string Helper { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> TextChanged { get; set; }
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public Icon? Icon { get; set; } = null;
    [Parameter] public string? ImageSrc { get; set; } = string.Empty;
    [Parameter] public bool SuffixIcon { get; set; }
    [Parameter] public bool ShowLoader { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(ImageSrc) && Icon is not null)
            throw new ArgumentNullException(nameof(BeerTextArea), "ImageSrc and Icon cannot both be defined");

        base.OnInitialized();
    }

    private void textChanged(ChangeEventArgs e)
    {
        var value = e.Value;
        if (e.Value != null)
        {
            var result = (string)e.Value;
            TextChanged.InvokeAsync(result);
        }

    }

    string GetClass()
    {
        var baseClass = "field textarea";

        if (!string.IsNullOrEmpty(Label))
            baseClass = $"{baseClass} label";

        if (UseIconOrImage())
        {
            if (SuffixIcon)
                baseClass = $"{baseClass} suffix";
            else
                baseClass = $"{baseClass} prefix";
        }

        var classString = ClassHelpers.CreateClass(baseClass, Border, Form, Size);

        if (Fill)
            classString = $"{classString} { BeerForms.Fill.GetEnumDescription()}";

        if (!string.IsNullOrEmpty(Error))
            classString = $"{classString} invalid";

        return classString;
    }

    bool UseIconOrImage()
    {
        if (Icon != null || !string.IsNullOrEmpty(ImageSrc))
            return true;

        return false;
    }
}
