@namespace BlazorBeerCss
@using Extensions;
@using Helpers;
<button @onclick="InvokeParentMethod" class="@ChipCutton() @Size.GetEnumDescription() @Color.GetEnumDescription() @Theme.GetEnumDescription() @Form.GetEnumDescription()">
    @ChildContent
</button>

@code {
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public BeerSizes Size { get; set; } = BeerSizes.Default;
    [Parameter] public BeerColors Color { get; set; } = BeerColors.Default;
    [Parameter] public BeerThemes Theme { get; set; } = BeerThemes.Default;
    [Parameter] public BeerForms Form { get; set; } = BeerForms.Default;
    [Parameter] public BeerDirections Direction { get; set; } = BeerDirections.Default;
    [Parameter] public bool ChipButton { get; set; } = false;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    bool hasDelegate => OnClick.HasDelegate;

    private async void InvokeParentMethod()
    {
        if (!OnClick.HasDelegate)
            return;
        await OnClick.InvokeAsync();
    }

    string ChipCutton()
    {
        return ChipButton ? "chip" : "" ;
    }
}
